/* css for the field */
path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.hit {
  fill: lightskyblue;
  stroke: black;
}

.out {
  fill: black;
  stroke: black;
}

.error {
  fill: darkred;
  stroke: black;
}

.player-options input {
}



