body {
  font-family: "PT Serif",sans-serif;
  font-size: 16px;
}


.container {
  margin: 1em auto 1em auto;
  max-width: 650px;
  /* text-align: center; */
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.description p {
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
  padding-bottom: 10px;
}

.options .player-options {
  padding-bottom: 40px;
}

.options input {
  margin: 10px;
}

.options .info {
  font-size 1.2em;
  text-align: center;
}

.viz svg {
  background-color: #eee;
}

.footer {
  height: 100px;
}

/**
 * 
 * Visualization specific 
 *
 */

path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.hit {
  fill: green;
  stroke: black;
  opacity: 0.5;
}

.out {
  fill: black;
  stroke: black;
  opacity: 0.5;
}

.error {
  fill: darkred;
  stroke: black;
  opacity: 0.5;
}

.legend rect {
  fill: white;
  stroke: black;
  opacity: 0.8;
  font-size: 12px;
}

svg:not(:root) {
  overflow: hidden;
}

