<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> D3 Baseball </title>
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    {{ yield }}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="js/baseball.js"></script>
  </body>
</html>
