<!DOCTYPE html>
<html>
  <head>
    <title> D3 Baseball </title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>
  <body>
    {{ yield }}
  </body>
</html>
